<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BSARRKNET Registration Page</title>
</head>
<body style="background-color: black; color: red;font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;">

<div style="position:absolute; top:50px; border: 3px solid red; height:850px; width:600px; left:400px;">
<form action="registered" method="post" >
    {% csrf_token %}
<center>
    <h1>REGISTER YOURSELF TO WATCH FREE MOVIES</h1>
    <label>Enter Name:</label>
    <p><input type="text" name="name" style="width:300px; background-color: red; height: 30px;cursor:pointer" required></p>
    <label>Phone no.:</label>
    <p><input type="number" name="number" style="width:300px; background-color: red; height: 30px;cursor:pointer" required></p>
    <label>State or City:</label>
    <p><input type="text" name="state" style="width:300px; background-color: red; height: 30px;cursor:pointer" required></p>
    <label>Country:</label>
    <p><input type="text" name="country" style="width:300px; background-color: red; height: 30px;cursor:pointer" required></p>
    <label>Movie Choice: </label>

    <p>
    <select class="movie_Type" name="movie_choice" style="width:300px; background-color: red; height: 30px;cursor:pointer" required>
    <option value="0">Select Type:</option>
    <option value="Comedy">Comedy</option>
    <option value="Action">Action</option>
    <option value="Romantic">Romantic</option>
    <option value="Thriller">Thriller</option>
    <option value="Horror">Horror</option>
    <option value="Drama">Drama</option>
    </select> </p>
    <label>Enter Id:</label>
    <p><input type="email" name="email" style="width:300px; background-color: red; height: 30px;cursor:pointer" required></p>
    <label>Password: </label>
    <p><input type="password" name="password" style="width:300px; background-color: red; height: 30px;cursor:pointer" required></p>
    <p><input type="submit" name="registeration" value="submit"  style="width:100px; background-color: red; height: 30px;cursor:pointer" required></p>
</center>
</form>

<form action="login_register" method="post">
    {% csrf_token %}
<center>
    <p>WANT TO GO FOR LOGIN?</p>
    <p><input type="submit" name="login" value="Login" style="width:100px; background-color: red; height: 30px;cursor:pointer" required></p>
</center>
</form>
</div>

</body>
</html>